<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pegada Ecológica | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">    
</head>
<body>

<div class="container-fluid navbarPegada">
<div class="container navbarPegada">
    <div class="row rowPegada">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom primary-color">
        <a class="navbar-brand"  routerLink="/login">
        <img src="../../assets/images/navbar-icon.png" class="d-inline-block align-middle avatar"
            alt="pegada ecologica logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span class="nav-item nav-link"><b>{{user}}</b></span>
                    <!-- <span class="nav-item nav-link">{{userId}}</span> -->
                    <a class="nav-link" routerLink="/login">sair</a>
                </li>
            </ul>
        </div>
    </nav>
    </div>
</div>
</div>

<!-- Start Container-Fluid Dashboard -->
<div class="container-fluid dashboard">
    <div class="container dashboard" id="area_user">
        <div class="row dashboard">

            <ul class="menuDashboard">
                <li>
                    <a (click)="showContent('update')" id="atualizacao" class="colDashboard update btnDashboard">Atualização</a>
                </li>
                <li>
                    <a (click)="showContent('historic')" id="historico" class="colDashboard historic btnDashboard">Histórico</a>
                </li>
                <li>
                    <a (click)="showContent('tips')" id="dicas" class="colDashboard tips btnDashboard">Dicas</a>                
                </li>
                <li>
                    <a (click)="showContent('configurations')" id="conf" class="colDashboard configurations btnDashboard">Configurações</a>
                </li>
               <!--  <li>
                    <a (click)="showContent('adm')" id="admin" class="colDashboard adm btnDashboard">Administrativo</a>
                </li> -->
            </ul>
        </div>
    </div>

    <div class="container dashboard" id="area_admin">
        <div class="row dashboard">

            <ul class="menuDashboard">
              <!--   <li>
                    <a (click)="showContent('update')" id="atualizacao" class="colDashboard update btnDashboard">Atualização</a>
                </li>
                <li>
                    <a (click)="showContent('historic')" id="historico" class="colDashboard historic btnDashboard">Histórico</a>
                </li>
                <li>
                    <a (click)="showContent('tips')" id="dicas" class="colDashboard tips btnDashboard">Dicas</a>                
                </li> -->
                <li>
                    <a (click)="showContent('configurations')" id="conf" class="colDashboard configurations btnDashboard">Configurações</a>
                </li>
                <li>
                    <a (click)="showContent('adm')" id="admin" class="colDashboard adm btnDashboard">Administrativo</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<!-- Ends Container-Fluid Dashboard -->

<!-- Start Container-Fluid ChartsPegada -->
<div class="container-fluid chartsPegada">
    <div class="container chartsPegada">



        <div class="row chartsPegada update" id="at">
            <div class="col-12">
                <h3>Atualização  {{ teste }} </h3>
                <ul>
                    <li *ngFor="let register of  allQuestions; let i = index">
                        {{ i + 1 }} - {{ register.mail }}
                    </li>
                </ul>

                <form 
                    #analyzeQuestionsForm="ngForm"
                    (ngSubmit)="analyzeQuestions(analyzeQuestionsForm.form);" 
                    class="formAnlyzeQuetions" 
                    action=""
                    id="formQuestions"
                >
                
                    <div class="questionToAnalyze" *ngFor="let question of activeQuestions; let i = index">
                        <h5>{{ i + 1 }} - {{question.title}}  </h5>
                        <div class="radio">
                            <label>
                                <input type="radio" checked class="question{{i+1}}" id="Aquestion{{question.id}}" name="question{{question.id}}" [attr.data-category]="question.category" value="{{question.weightA}}">
                                {{question.answerA}}
                            </label>
                        </div>

                        <div class="radio">
                            <label>
                                <input type="radio" class="question{{i+1}}" id="Bquestion{{question.id}}" name="question{{question.id}}" [attr.data-category]="question.category" value="{{question.weightB}}">
                                {{question.answerB}}
                            </label>
                        </div>

                        <div class="radio">
                            <label>
                                <input type="radio" class="question{{i+1}}" id="Cquestion{{question.id}}" name="question{{question.id}}" [attr.data-category]="question.category" value="{{question.weightC}}">
                                {{question.answerC}}
                            </label>
                        </div>

                        <div class="radio">
                            <label>
                                <input type="radio" class="question{{i+1}}" id="Dquestion{{question.id}}" name="question{{question.id}}" [attr.data-category]="question.category" value="{{question.weightD}}">
                                {{question.answerD}}
                            </label>
                        </div>     
                    </div>
                    <!-- onclick="document.location='#historic'" -->
                    <button type="submit" class="btn btn-primary toAnalyze">Calcular</button>
                </form>
            </div>
        </div>

           <div class="row chartsPegada historic" id="hist">
               <!--  id="historic" -->
            <h3>Histórico</h3>
            <div class="chart-container">
                <canvas id="canvas"></canvas>
            </div>
        </div>


        <div class="row chartsPegada tips" id="tip'">
            <div class="col-12">

                <h3>Dicas</h3>
                <p>
                    Existem várias atitudes que podem ajudar a diminuir sua Pegada Ecológica. Mudança de hábitos, rotinas ou até mesmo alerações na sua casa podem diminuir o carga imposta sobre os recursos naturais do planeta. Aqui você pode encontrar algumas dicas de como melhorar em cada uma das categorias analisadas na sua Pegada Ecológica.
                </p>

                <div class="dropdown" ngbDropdown #myDrop="ngbDropdown">
                    <button class="btn btn-secondary dropdown-toggle btnChooseCategory" role="button" id="dropdownMenuLink" aria-haspopup="true" ngbDropdownAnchor (focus)="myDrop.open()" aria-expanded="false">
                      Selecione a Categoria
                    </button>
                  
                    <div  ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <button (click)="showContentTips('cat1');" class="dropdown-item cat1" ngbDropdownItem>Alojamento</button>
                      <button (click)="showContentTips('cat2');" class="dropdown-item cat2" ngbDropdownItem>Alimentação</button>
                      <button (click)="showContentTips('cat4');" class="dropdown-item cat3" ngbDropdownItem>Consumo</button>
                      <button (click)="showContentTips('cat5');" class="dropdown-item cat4" ngbDropdownItem>Resíduos</button>
                      <button (click)="showContentTips('cat3');" class="dropdown-item cat5" ngbDropdownItem>Transportes</button>
                    </div>
                </div>
                <div class="contentCategory">
                    <div class="row cat1">
                        <span>Alojamento</span><br><br><br>
                        <p><b>1. Economize água!</b> Economizar água é uma tarefa bastante simples. Para isso, basta que algumas práticas do dia a dia sejam mudadas. Uns dos pontos mais importantes são: reduzir o tempo de banho e verificar se há vazamentos de água em casa. Além disso, aproveitar a água da chuva e reaproveitar a água da máquina de lavar também são ótimas dicas!</p><br>
                        <p><b>2. Economize energia.</b> Para economizar energia, é importante lembrar-se de ligar apenas os aparelhos elétricos necessários. Ao utilizar o computador, por exemplo, não é necessário ligar a televisão. Outro ponto importante é, ao sair de um ambiente, verificar se a luz está ligada e, se sim, apagá-la. A redução do tempo de banho também é uma importante dica para economizar energia.</p>
                    </div>
                    <div class="row cat2">
                        <span>Alimentação</span><br><br><br>
                        <p><b>1. Sempre que possível, opte por alimentos orgânicos.</b> Ao escolher alimentos orgânicos (livres de agrotóxicos), estamos não só protegendo a nossa saúde, como também o meio ambiente, que fica livre desses produtos.</p><br>
                        <p><b>2. Reduza o consumo de carne.</b> O consumo de carne prejudica o meio ambiente, pois, para criar pastagens, uma grande área é desmatada. Além disso, é grande a quantidade de água consumida para criar os animais e para garantir todo o processamento da carne. Isso sem falar na grande quantidade de gases de efeito estufa emitidos pelo gado.</p>
                    </div>
                    <div class="row cat3">
                        <span>Consumo</span><br><br><br>
                        <p><b>1. Evite a compra desnecessária de itens.</b> A chave para esse ponto é sempre perguntar: “Eu realmente necessito disso?” Às vezes compramos coisas sem necessidade naquele momento e contribuímos, assim, para o uso intensivo de recursos naturais.</p><br>
                        <p><b>2. Use ecobags e não sacolas plásticas.</b> Vamos lá, é tudo questão de adaptação e menos de "ecologia". Não saia por aí comprando aquelas ecobags vendidas em mercados, além de estragarem facilmente, o volume que elas comportam é mínimo. Procure por embalagens maiores.</p>
                    </div>
                    <div class="row cat4">
                        <span>Resíduos</span><br><br><br>
                        <p><b>1. Sempre faça o descarte correto do lixo.</b> Descartar o lixo adequadamente evita a poluição e até mesmo a propagação de doenças. Ao jogar lixo em um terreno baldio, por exemplo, você pode estar contribuindo para o aumento da população de ratos, baratas e até mesmo de mosquitos-da-dengue.</p><br>
                        <p><b>2. Recicle seu lixo.</b> Essa medida evita o gasto desnecessário dos recursos naturais e ainda ajuda a diminuir a concentração de lixo no ambiente.</p>
                    </div>
                    <div class="row cat5">
                        <span>Transportes</span><br><br><br>
                        <p><b>1. Utilize veículo apenas quando necessário.</b> Os carros são responsáveis pela liberação de uma grande quantidade de poluentes na atmosfera, sendo assim, restringir seu uso é importante. Se o local de destino é próximo, por que não ir a pé? É importante lembrar que as pessoas que possuem carro devem sempre realizar a manutenção do veículo para evitar que mais poluentes sejam liberados.</p><br>
                        <p><b>2. Vá de bicicleta ao trabalho!</b> Além de cumprir a sua cota diária de exercícios físicos, pedalar tira você da monotonia, revela novos cenários e, claro, um pouco de ar fresco na cara faz sempre bem.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row chartsPegada configurations" id="config">
            <h3>Configurações Gerais</h3>

            <div class="col-12 squareConfigurations">
                <h5>Configurações de Acesso</h5>

                <form  class="form-configurations">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-label-group">
                                <label for="configurationsEmail">E-mail</label>
                                <input type="email" id="configurationsEmail" name="configurationsEmail" required class="form-control" placeholder="Usuário" ngModel #configurationsEmail="ngModel" >
                                
                                <div *ngIf="configurationsEmail.invalid && (configurationsEmail.dirty || configurationsEmail.touched)" class="alert alert-danger">

                                    <div *ngIf="configurationsEmail.errors.required">
                                        <p>Campo e-mail é obrigatório.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-label-group">
                                <label for="oldPassword">Senha antiga</label>
                                <input type="password" id="oldPassword" name="oldPassword" required class="form-control" placeholder="Senha antiga" ngModel #oldPassword="ngModel" >
                                                                
                                <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="alert alert-danger">

                                    <div *ngIf="oldPassword.errors.required">
                                        <p>Campo senha antiga é obrigatório.</p>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-label-group">
                                <label for="newPassword">Nova senha</label>
                                <input type="password" id="newPassword" name="newPassword" required class="form-control" placeholder="Nova senha" ngModel #newPassword="ngModel">
                                                                                            
                                <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert alert-danger">

                                    <div *ngIf="newPassword.errors.required">
                                        <p>Campo nova senha é obrigatório.</p>
                                    </div>
                                </div>
                            </div>   
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="form-label-group">
                                <label for="newPasswordConfirm">Confirme a nova senha</label>
                                <input type="password" name="newPasswordConfirm" id="newPasswordConfirm" compare="newPassword" class="form-control" required placeholder="Repita a nova senha" ngModel #newPasswordConfirm="ngModel">
                                
                                <div *ngIf="newPasswordConfirm.invalid && (newPasswordConfirm.dirty || newPasswordConfirm.touched)" class="alert alert-danger">

                                    <div *ngIf="newPasswordConfirm.errors.required">
                                        <p>Confirme a nova senha.</p>
                                    </div>

                                    <div *ngIf="newPasswordConfirm.errors.compare">
                                        <p>Senhas devem ser idênticas.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="btnUpdatePassword" class="btn btn-primary btnUpdatePassword">Alterar</button>
                </form>
            </div>
        </div>




        <!-- Start Insert Content to Administrator -->
        <div class="row chartsPegada adm" id="non-user">
            <h3>Administração</h3>

            <!-- Start for Insert Qustion in the Database -->
            <div class="col-12 squareInsertQuestion adm">
                <form class="formInsertQuestion adm"
                    id="formInsertQuestion"
                    #insertQuestionForm="ngForm"
                    (ngSubmit)="insertQuestion(insertQuestionForm.form);" 
                    action=""
                >
                    <h5>Cadastro de Pergunta</h5>
                    <div class="form-group">
                        <label for="question">Pergunta:</label>
                        <input type="text" class="form-control" id="question" name="question" required placeholder="Insira a pergunta" [(ngModel)]="titleQuestionUpdate" #question="ngModel">
                    
                        <!-- Validation Field Question -->
                        <div *ngIf="question.invalid && (question.dirty || question.touched)" class="alert alert-danger">

                            <div *ngIf="question.errors.required">
                                <p>Campo obrigatório.</p>
                            </div>
                        </div>                    
                    </div>

                    <!-- Starts Insert Answers -->
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <label for="answerA">Alternativa A:</label>
                            <input type="text" class="form-control" id="answerA" name="answerA" required  [(ngModel)]="answerAupdate" #answerA="ngModel" placeholder="Resposta A">

                            <!-- Validation Field Answer A -->
                            <div *ngIf="answerA.invalid && (answerA.dirty || answerA.touched)" class="alert alert-danger">

                                <div *ngIf="answerA.errors.required">
                                    <p>Campo obrigatório.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">
                            <label for="answerWeightA">Peso (A):</label>
                            <input type="number" class="form-control" id="answerWeightA" name="answerWeightA" required [(ngModel)]="weightAupdate"  #answerWeightA="ngModel" placeholder="Peso A">
                        
                            <!-- Validation Field Weight Answer A -->
                            <div *ngIf="answerWeightA.invalid && (answerWeightA.dirty || answerWeightA.touched)" class="alert alert-danger">

                                <div *ngIf="answerWeightA.errors.required">
                                    <p>Campo obrigatório.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <label for="answerB">Alternativa B:</label>
                            <input type="text" class="form-control" id="answerB" name="answerB" required [(ngModel)]="answerBupdate" #answerB="ngModel" placeholder="Resposta B">

                            <!-- Validation Field Answer B -->
                            <div *ngIf="answerB.invalid && (answerB.dirty || answerB.touched)" class="alert alert-danger">

                                <div *ngIf="answerB.errors.required">
                                    <p>Campo obrigatório.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">
                            <label for="answerWeightB">Peso (B):</label>
                            <input type="number" class="form-control" id="answerWeightB" name="answerWeightB" required [(ngModel)]="weightBupdate" #answerWeightB="ngModel" placeholder="Peso B">
                        
                            <!-- Validation Field Weight Answer B -->
                            <div *ngIf="answerWeightB.invalid && (answerWeightB.dirty || answerWeightB.touched)" class="alert alert-danger">

                                <div *ngIf="answerWeightB.errors.required">
                                    <p>Campo obrigatório.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <label for="answerC">Alternativa C:</label>
                            <input type="text" class="form-control" id="answerC" name="answerC" required [(ngModel)]="answerCupdate" #answerC="ngModel" placeholder="Resposta C">

                            <!-- Validation Field Answer C -->
                            <div *ngIf="answerC.invalid && (answerC.dirty || answerC.touched)" class="alert alert-danger">

                                <div *ngIf="answerC.errors.required">
                                    <p>Campo obrigatório.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">
                            <label for="answerWeightC">Peso (C):</label>
                            <input type="number" class="form-control" id="answerWeightC" name="answerWeightC" required [(ngModel)]="weightCupdate"  #answerWeightC="ngModel" placeholder="Peso C">
                        
                            <!-- Validation Field Weight Answer C -->
                            <div *ngIf="answerWeightC.invalid && (answerWeightC.dirty || answerWeightC.touched)" class="alert alert-danger">

                                <div *ngIf="answerWeightC.errors.required">
                                    <p>Campo obrigatório.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <label for="answerD">Alternativa D:</label>
                            <input type="text" class="form-control" id="answerD" name="answerD" required [(ngModel)]="answerDupdate" #answerD="ngModel" placeholder="Resposta D">

                            <!-- Validation Field Answer D -->
                            <div *ngIf="answerD.invalid && (answerD.dirty || answerD.touched)" class="alert alert-danger">

                                <div *ngIf="answerD.errors.required">
                                    <p>Campo obrigatório.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">
                            <label for="answerWeightD">Peso (D):</label>
                            <input type="number" class="form-control" id="answerWeightD" name="answerWeightD" required [(ngModel)]="weightDupdate"  #answerWeightD="ngModel" placeholder="Peso D">
                        
                            <!-- Validation Field Weight Answer D -->
                            <div *ngIf="answerWeightD.invalid && (answerWeightD.dirty || answerWeightD.touched)" class="alert alert-danger">

                                <div *ngIf="answerWeightD.errors.required">
                                    <p>Campo obrigatório.</p>
                                </div>
                            </div>                        
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="selectStatusQuestion">Status da Pergunta</label>
                                <select class="form-control" id="selectStatusQuestion">
                                  <option>ATIVO</option>
                                  <option>RASCUNHO</option>
                                </select>
                              </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="selectCategory">Categoria</label>
                                <select class="form-control" id="selectCategory">
                                 <!--  <option></option> -->
                                  <option>ALIMENTAÇÃO</option>
                                  <option>ALOJAMENTO</option>
                                  <option>TRANSPORTE</option>
                                  <option>CONSUMO</option>
                                  <option>RESÍDUOS</option>
                                </select>
                              </div>
                        </div>
                    </div>
                    <!-- Ends Insert Answers -->
                    <span id="warningFieldsInsertQuestion"  class='error'>Não são permitidos campos vazios.</span>
                    <button type="submit" id="btnUpdateOrInsert" class="btn btn-primary toInsertQuestion">Cadastrar</button>
                </form>
            </div>
            <!-- Ends for Insert Qustion in the Database -->

            <!-- Start To Show All Question of the Database -->
            <div class="col-12 squareAllQuestions adm table-responsive">
                <h5>Perguntas Cadastradas</h5>

                <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Pergunta</th>
                        <th>Status</th>
                        <th>Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of questions; let i = index">
                            <td><span>{{i + 1}}</span></td>
                            <td><span>{{question.title}}</span></td>
                            <td><span>{{question.status}}</span></td>
                            <td>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <a class="text-danger font-weight-bold" (click)="open(content,question.title,question.id)">Excluir</a>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <a class="text-success font-weight-bold" (click)="prepareToUpdateFields(question.title,question.answerA,question.answerB,question.answerC,question.answerD,question.weightA,question.weightB,question.weightC,question.weightD)" >Alterar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Ends To Show All Question of the Database -->
        </div> 
        <!-- Ends Insert Content to Administrator -->
    </div>
</div>


<div class="container-fluid footer">
<div class="container footer">
    <div class="row footer">
    <div class="col-xs-12 col-sm-4 col-md-4 colFooter">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 text-center text-white colFooter">
        <h6>© Todos os direitos reservados.</h6>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 colFooter">
    </div>
    </div>
</div>
</div>

<footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="assets/js/script.js"></script>
</footer>

</body>
</html>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirmar exclusão</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <span>Deseja excluir <strong>{{ questionToBeDeleted }}</strong>?</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Não</button>
        <button type="button" class="btn btn-success" (click)="deleteQuestion(questionIdToBeDeleted)">Sim</button>
    </div>
</ng-template>  
<hr>
